*{box-sizing: border-box;margin:0px;padding:0px;}
.book-display{position:relative;padding:10%;height:500px;overflow:hidden;}
.picture{position:relative;height:400px;width:100%;z-index:0;}
#flap{background-color: rgb(68, 65, 65);width:80%;padding:5%;position:absolute;z-index: 99;bottom:0px;}
#filter ul{text-align:center;}
#filter li{padding-right:3%;padding-top:2%;}
#filter h2{padding-top:4%;margin-left:7%;}


body{width:100%;height:100%;min-width:480px; max-width:640px;padding:16px;margin:0 auto;}
.navigation{float:left;padding:5px;}
nav{font-size: 25px;}
#API{float:right;}
#hero{background-color: darkgray;height:175px;}
header ul,li, h1{display:inline-block;}
header .logo{padding:8px;float:left;}
#title{padding-left:40px;padding-top:50px;font-size: 50px;}
main{background-color: lightgrey;font-size: 35px;}
footer{background-color: rgb(68, 65, 65);}
footer img{float:right;padding-right:15px;padding-top:10px;}
#linkedin{padding-top:25px;}
